/*-- header bg image  ---*/
.home-inner {
  background-image: url("/images/wedding-007.jpg");
}

.beforeContact {
  background-image: url("/images/wedding-005.jpg");
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index: 1;
}

.caption h2 {
  color: #990100;
  font-size: 2.4rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
}

.caption .moto {
  color: white;
  width: 50px;
}

/*--- iOS Landing Page Fix --*/
.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}

.landing .home-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing .home-wrap .home-inner {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

.landing .home-wrap .beforeContact {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

/*----beforeContactLanding----*/
.beforeContactLanding {
  position: relative;
  width: 100%;
  height: 30vh;
  display: table;
  background: #E9ECEF;
  z-index: -1;
}

.beforeContactLanding .beforeContactWrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.beforeContactLanding .beforeContactWrap .beforeContact {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}

* {
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h4 {
  color: #990100;
  text-align: center;
}

/*-- nav begings here  ---*/
.navbar {
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.navbar .navbar-brand {
  height: 3rem;
}

.navbar .navbar-toggler {
  background-color: #990100;
}

.navbar .collapse .nav-item {
  padding-left: 2rem;
}

.navbar .collapse .nav-item .nav-link {
  color: #990100;
}

/*-- nav ends here  ---*/
/*-- About here  ---*/
.img-fluid {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 5rem;
  margin-bottom: 7rem;
}

.container label {
  margin-top: 1.5rem;
}

.container .progress-bar {
  background-color: #1afeff;
}

/*-- About ends here  ---*/
/*-- service here  ---*/
#services hr {
  width: 12rem;
  border-width: .2rem;
}

#services .row {
  text-align: center;
  padding: 1rem;
}

#services h5 {
  color: #990100;
  margin-top: 2rem;
}

/*-- service ends here  ---*/
/*-- contact here  ---*/
/*-- contact ends here  ---*/
/*# sourceMappingURL=styles.css.map */